/* Import fonts that are used on the page */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Montserrat:wght@200&display=swap');

/*  adding styles */
/* reseting margin and padding */
* {
    padding: 0;
    margin: 0;
}

/* setting the default/basic colors */
body {
    color: hsl(223deg 14% 20%);
    background: #D6F8A0;
}

/* styling and fixing the nav bar to the top of the page */

header {
    background: #D6F8A0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
}

#icon {
    max-height: 7vh;
    margin: auto;
}

.top-nav {
    color: #f1f1f1;
    letter-spacing: 1px;
    text-align: center;
    flex-grow: 1;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    display: flex;
}

.top-nav>ul>li {
    position: relative;
    overflow: hidden;
}

a {
    color: #daaa3b;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 4px;
    z-index: 10;
}

.nav-btn {
    padding: .6rem .6rem;
}

.nav-btn span {
    position: relative;
    display: inline-flex;
    background-color: #D6F8A0;
    z-index: 3;
}

.nav-btn div span:hover {
    border-bottom: 1px solid #F9C74F;
}

.active {
    border-bottom: 1px solid #F9C74F;
}

/* styles for the titles of the pages */
section {
    margin-top: 12vh;
    text-align: center;
}

#home-title {
    padding: 20px;
    letter-spacing: 2px;
    color: #daaa3b;
    text-shadow: 0 0 2px yellow;
}

#about-title {
    color: #daaa3b;
    text-shadow: 0 0 2px yellow;
    margin: 15px;
}

#resources-title {
    color: #daaa3b;
    padding: 20px;
    letter-spacing: 2px;
}

#contact-title {
    color: #daaa3b;
    padding: 20px;
    letter-spacing: 2px;
}

.section1 h3 {
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

/* spinning yin yang styles */
.big-icon {
    width: 300px;
    height: 300px;
    padding: 10px;
    background: black;
    border-radius: 100%;
    position: relative;
    animation: rotate 40000s infinite;
    margin: 3vh;
    float: left;
}

.big-icon .white-circle {
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 100%;
}

.big-icon .black-circle {
    width: 150px;
    height: 150px;
    background: black;
    border-radius: 100%;
    margin-top: -154px;
    z-index: auto;
    position: absolute;
    margin-left: 75px;

}

.white-tail {
    width: 150px;
    height: 300px;
    background: white;
    display: inline-block;
    margin-top: -150px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

.black-eye {
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 100%;
    position: absolute;
    margin-top: -260px;
    margin-left: 120px;
}

.white-circle {
    position: relative;
    left: 75px;
}

.bi-center {
    text-align: center;
}

.bi-right {
    text-align: right;
}

.white-eye {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 100%;
    position: absolute;
    margin-top: -105px;
    margin-left: 120px;
}

/* Styles for the cards and image */

.presentation {
    width: 85%;
    margin: 3vh auto;
    justify-content: center;
    text-align: justify;
    box-shadow: 4px 4px 4px 4px #3a3a49;
}

#opening {
    min-height: 390px;
}

#bamboo-forrest {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#bamboo-drama {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    animation-name: bamboo-forrest-drama;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes bamboo-forrest-drama {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.1)
    }
}

#advertise {
    font-size: smaller;
}

#first-block {
    display: flex;
    background-color: rgba(20, 46, 16, 0.514);
    color: rgb(255, 255, 255);
}

#budda-face {
    height: 80vh;
    float: left;
    margin: 3vh;
}

#first-block-text {
    margin: 3vh;
}

#second-block {
    display: flex;
    background-color: rgba(20, 46, 16, 0.514);
    color: rgb(255, 255, 255);
    padding-top: 30px;
}

#balanced-rocks {
    float: right;
    margin: 3vh;
    height: 80vh;
}

#second-block-text {
    margin: 3vh;
}

.presentation p {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

/* styles for the Resources page */

#videos {
    padding: 3vh;
    text-align: center;
}

#audios {
    padding: 3vh;
    text-align: center;
}

#links {
    padding: 3vh;
    text-align: center;
}

table,
th,
td {
    width: 100%;
    border: 1px solid black;
    padding: 1vh;
    font-size: large;
}

th {
    font-size: larger;
    letter-spacing: 2px;
    font-weight: 800;
}

#yt-videos {
    padding: 20px 5px;
}

#yt-videos iframe {
    width: 45%;
    height: 50vh;
    margin: 10px;
    border: none;
}

.relaxing-elipse {
    border: green 1px solid;
    border-radius: 50%;
}

/* styles for footer */


footer {
    background: whitesmoke;
    width: 100%;
    box-shadow: 4px 4px 4px 4px #3a3a49;
}

footer h3 {
    margin: 2vh;
    float: right;
    color: #daaa3b;
}

footer nav ul {
    justify-content: flex-end;
}

.f-ico {
    padding: 2px 8px;
}

/* Styles for contact page content */


.contact-section {
    font-family: 'Poppins', sans-serif;
}

.contact-section p {
    padding: 10px;
}

/* form */

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

form>* {
    margin: auto;
}

textarea {
    width: 50vw;
    height: 20vh;
}


input,
textarea {
    background-color: #3a3a49;
    color: #fff;
}

/* pseudo button */

#button {
    background-color: #3a3a49;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    box-shadow: 0 0 2px yellow;
}

/* 404 page */
.not-found {
    background: rgb(214, 248, 160);
    background: linear-gradient(0deg, rgba(214, 248, 160, 1) 5%, rgba(255, 255, 255, 1) 50%, rgba(214, 248, 160, 1) 95%);
    display: flex;
    color: #daaa3b;
    height: 100vh;
}

.not-found div {
    width: 50%;
    margin: auto;
}

.not-found div img {
    border-radius: 50%;
    height: 80vh;
    box-shadow: 10px 10px 10px 10px #fff;
}